(function setupStripe() {
    var stripe = Stripe("#{ENV["STRIPE_PUBLISHABLE_KEY"]}");
    var elements = stripe.elements();
    var card = elements.create('card');

    card.on('change', function(event) {
      $('#submit-stripe').prop('disabled', false);
      const cardErrors = $('#card-errors');

      if (event.error) {
        cardErrors.text(event.error.message)
      } else {
        cardErrors.text('');
      }
    });

    card.mount('#card-element');
    var form = document.getElementById('order-details');
    // This will be called when the #submit-stripe button is clicked by the user.
    form.addEventListener('submit', function(event) {
      $('#submit-stripe').prop('disabled', true);
      event.preventDefault();
      stripe.createToken(card).then(function(result) {
        if (result.error) {
          // Inform that there was an error.
          var errorElement = document.getElementById('card-errors');
          errorElement.textContent = result.error.message;
        } else {
          // Now we submit the form. We also add a hidden input storing 
          // the token. So our back-end can consume it.
          var $form = $("#order-details");
          // Add a hidden input orders[token]
          $form.append($('<input type="hidden" name="orders[token]"/>').val(result.token.id));
          // Set order type
          $('#order-type').val('stripe');
          $form.submit();
        }
      });
      return false;
    });
  })();